@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  touch-action: pan-x pan-y;
  height: 100%;
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color-scheme: dark;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
*:focus {
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}
img {
  @apply select-none;
}
button {
  @apply select-none focus:outline-none;
}
